# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=pjjgg4py
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_VERSION=2025-01-01
SANITY_TOKEN=skOftP289bt4s642DD5laUzHNw1c2kGiK7sE8np2lSSLlvAUt4MtnRT0gl1xxeHDCDYFw8dKYiLJxomlVQsWE26raOGo13JYOZt8WjMx0wGrUA5NpxHWrAb9k1gVVBpG8mDMgJonfrgyKu2nhuik3Ml6v7vPrkzJBDOgo5IsDV0b1OLDVe4q

# Contact form (Resend)
RESEND_API_KEY=
CONTACT_EMAIL=umesh@example.com

# Site
NEXT_PUBLIC_SITE_URL=https://umesh.dev